// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

/* make the customizations */
$body-color: #333333;
$btn-border-width: 2px;
$btn-font-weight: 400;
$btn-line-height: 1;
$btn-border-radius: 0;
$btn-font-size: 12px;
$btn-transition: all 0.3s ease-in-out;
$btn-padding-y: 10px;
$btn-padding-x: 24px;
$btn-white-space: normal;
$h4-font-size: 16px;
$headings-font-weight: 600;
$headings-margin-bottom: 20px;
$headings-line-height: 1.3;
$headings-color: #776657;
$form-text-margin-top: 0;
$input-font-size: 14px;
$input-height: 32px;

@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";

@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff2") format("woff2"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}